<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>To-Do List</title>
    <link rel="stylesheet" href="/styles/main.css" />
</head>
<body>
    <main>
    <form action="add_list" method="POST">
        <button type="submit">+</button>
        <input type="text" name="listName" placeholder="New List">
    </form>
    <div id="lists-section">
    <% lists.forEach((list, index) => { %>
        <div id="list-pair">
        <form action="delete_list" method="POST">
            <button id="list-delete" type="submit" name="index" value="<%= index %>">X</button>
        </form>
        <form action="/select_list" method="POST">
            <input type="hidden" name="index" value="<%= index %>" />
            <input id="list-button" onclick="this.form.submit()" type="button" value="<%= list[0] %>" />
        </form>
        </div>
    <% }) %>
    </div>