<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>To-Do List</title>
    <link rel="stylesheet" href="/styles/main.css" />
</head>
<body>
    <form action="make_list" method="post">
        <button type="submit">+</button>
        <input name="listName" type="text" placeholder="New List">
    </form>
    <br /><br />
    <% lists.forEach((list, index) => { %>
    <form action="/" method="POST">
        <input type="hidden" name="index" value="<%= index %>" />
        <input onclick="this.form.submit()" type="button" value="<%= list.name %>" />
    </form>
    <% }) %>
    <main>