body {
  padding-top: 40px;
  text-align: center;
}

* {
  color: antiquewhite;
  background-color: black;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

footer {
  position: absolute;
  bottom: 10px;
  left: 10px;
}

li {
  list-style-type: none;
  text-align: left;
  margin-left: 45%;
}

input[type="checkbox"]:checked + label {
  color: antiquewhite;
  opacity: 50%;
  text-decoration: line-through;
}

form {
  display: inline-block;
}
