body {
  padding-top: 40px;
}

* {
  color: antiquewhite;
  background-color: black;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

main {
  display: flex;
  align-items: center;
  flex-direction: column;
}

#lists-section {
  margin-top: 20px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

#list-pair {
  margin: 4px;
}

h1 {
  margin: 0px;
  margin-top: 16px;
}

footer {
  position: absolute;
  bottom: 10px;
  left: 10px;
}

li {
  list-style-type: none;
  text-align: left;
}

#list-delete {
  margin-right: -7px;
}

input[type="checkbox"]:checked + label {
  color: antiquewhite;
  opacity: 50%;
  text-decoration: line-through;
}

form {
  display: inline-block;
}
